<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <!--
    <add name="dbConnStr" connectionString="Fill in Database Connection String" providerName="System.Data.SqlClient"/>
    -->
    <add name="dbConnStr" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=testAD;User ID=;Password=;" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <appSettings>
    <!--
    <add key="iPollIntervalMS" value="SQL fetch interval in milliseconds"/>
    <add key="sURL2Call" value="The URL to fetch SQL statement"/>
    -->
    <add key="iSecondWaitBeforeRevive" value="30" />
    <add key="iSQLPollIntervalMS" value="10000" />
    <add key="iDownPollIntervalMS" value="10000" />
    <add key="iUpPollIntervalMS" value="10000" />
    <add key="iExecPollIntervalMS" value="10000" />
    <add key="iKillPollIntervalMS" value="10000" />
    <add key="sURL2Sql" value="http://localhost/testAD/testSql.aspx" />
    <add key="sURL2Ack" value="http://localhost/testAD/testAck.aspx" />
    <add key="sURL2Down" value="http://localhost/testAD/testDown.aspx" />
    <add key="sURL2Up" value="http://localhost/testAD/testUp.aspx" />
    <add key="sURL2File" value="http://localhost/testAD/testFile.aspx" />
    <add key="sURL2Exec" value="http://localhost/testAD/testExec.aspx" />
    <add key="sURL2Kill" value="http://localhost/testAD/testKill.aspx" />
    <add key="downloadFilePath" value="D:\download\" />
    <add key="logFilePath" value="D:\" />
    <add key="clientID" value="1" />
    <add key="reviveFromDead" value="true"/>
  </appSettings>
</configuration>